:host{
  h3{
    color: #673ab7;
  }
  .main-container{
    height: 500px;
  }
  .form-field{
    margin-bottom: 1em;
  }
  .cancel-button{
    margin-right: 1em;
  }
  .error-pnl{
    padding: 0.5em;
    border: 1px #f44336 solid;
    color: #f44336;
    border-radius: 4px;
  }
}
